<!-- <button (click)="navigate('list')">go to list</button>
<button (click)="navigate('header')">go to header</button> -->

<!-- @if(title === 'list') { -->
<!-- <ngg-list></ngg-list> -->
<!-- } @else {
<ngg-header></ngg-header>
} -->

<!-- <ngg-list *ngIf="title === 'list'; else header"></ngg-list>
<ng-template #header>
  <ngg-header></ngg-header>
</ng-template> -->

<!-- <router-outlet /> -->

<!-- <button (click)="observable = 'observer1'">observer 1</button>
<button (click)="observable = 'observer2'">observer 2</button> -->

<!-- @if (observable === 'observer1') { -->
<ngg-observer1></ngg-observer1>
<!-- } @else if (observable === 'observer2') { -->
<ngg-observer2></ngg-observer2>
<!-- } -->
