.item {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

  p {
    width: 10%;
    margin: 10px 0;
  }

  input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
}
